%h1 Sponsors

%style{:type => 'text/css'}
  :sass
    .sponsor
      img
        margin: 0 20px 20px 0
        vertical-align: middle
        border: 0
    .thankyou
      width: 75%

.thankyou
  %p
    Special thanks to our sponsors! The following businesses have stepped
    up to help put an end to human trafficking. Please take a moment to
    click on their logos and learn more about the goods and services they
    offer.
  %p
    Your business can join the fight, too!
    = link_to 'Click here', 'sponsor.html'
    for details.

= begin_sponsors

/ %h4 Presenting Sponsors

%h4 Sign Sponsors
= sponsor("Zorko Electric", "www.zorkoelectric.com", "zorko.png")

%h4 Cart Sponsors
= sponsor("Miller Nash LLP", "http://www.millernash.com/", "miller_nash.png")
= sponsor("Homestar Security", "http://www.homestarsecurity.com/", "adt_homestar_security.png")

%h4 Hole &amp; Tee Sponsors
= sponsor("William J. Peterson, DDS, PLLC - General Dentistry", "http://www.wellness.com/dir/2330015/dentist/wa/bellevue/peterson-william-j-dds-pllc", "peterson.jpg")
= sponsor("Watermark Credit Union", "https://www.watermarkcu.org/", "watermark.png")
= sponsor("Watson Asphalt & Paving", "http://maps.google.com/maps/place?hl=en&um=1&ie=UTF-8&q=watson+asphalt+paving+co&fb=1&gl=us&hq=watson+asphalt+paving+co&hnear=Bellevue,+WA&cid=8942787521918530536", "watson.jpg")
= sponsor("Oki Golf", "okigolf.com", "oki_golf.png")
= sponsor("Duke's Truck Repair", "http://www.bing.com/local/Details.aspx?lid=YN926x15836508&q=duke's%20truck%20repair&qt=yp&tid=7024b3aedc6a4668b4a4c7d0538e1e94&mkt=en-us&FORM=LLSV", "dukes_truck_repair.png")
= sponsor("Sound Design & Cabinetry", "http://www.sounddesignonline.com/", "sounddesign.png")
= sponsor("McDonald's (M.A.J., Inc.)", "www.mcdonalds.com", "mcdonalds.png")
= sponsor("SMAS Real Estate Appraisal", "http://www.smasappraisal.com/", "smas.png")
= sponsor("INRIX", "www.inrix.com", "inrix.jpg")
= sponsor("AFLAC", "www.aflac.com", "aflac.jpg")
= sponsor("Kitchen Plus", "http://www.kitchenplus.com/", "kitchenplus.jpg")
= sponsor("Rob's Golf Car Services", "http://www.robsgcs.com", "golfcarservices.png")
= sponsor("Die Cut Stickers", "http://www.diecutstickers.com", "diecutstickers.png")
= sponsor("Crossroads Appliance", "http://www.crossroadsappliance.com", "crossroadsappliance.png")
= sponsor("Kompact Kar Korner", "www.kompactkarkorner.com", "kompactkarkorner.png")

%h4 Registration Table Sponsors
= sponsor("Discount Tire", "www.discounttire.com", "discounttire.png")

%h4 Snack Shack Sponsors
= sponsor("Tim's Cascade Snacks", "http://www.timschips.com/", "tims.png")

%h4 Beverage Cart Sponsors
= sponsor("Cornerstone Family Health Clinic", "cornerstonehealthclinic.com", "cornerstone.png")

/ %h4 Player Sponsors

%h4 Prize Sponsors
= sponsor("Ogio", "www.ogio.com", "ogio.png")
= sponsor("Tim's Cascade Snacks", "http://www.timschips.com/", "tims.png")

%h4 Gift Bag Sponsors
= sponsor("Pro Golf Discount", "progolfseattle.com", "progolfdiscount.jpg")
= sponsor("Tim's Cascade Snacks", "http://www.timschips.com/", "tims.png")
= sponsor("Lululemon", "http://www.lululemon.com", "lululemon.png")
= sponsor("McDonald's (M.A.J., Inc.)", "www.mcdonalds.com", "mcdonalds.png")
= sponsor("Caffe Umbria", "www.caffeumbria.com", "caffeumbria.png")
/ = sponsor("Sahale Snacks", "sahalesnacks.com", "sahalesnacks.png")
= sponsor("Cornerstone Family Health Clinic", "cornerstonehealthclinic.com", "cornerstone.png")
= sponsor("Epulo Bistro", "www.epulobistro.com", "epulo.jpg")
= sponsor("AFLAC", "www.aflac.com", "aflac.jpg")
= sponsor("Ethos Water", "www.ethoswater.com", "ethoswater.jpg")

%h4 Banquet &amp; Auction Sponsors
= sponsor("Nintendo", "nintendo.com", "nintendo.png")

%h4 Beverage Sponsors
= sponsor("Custom & Specialized Installation", "http://www.sounddesignonline.com/", "customspecialized.png")

%h4 Silent Auction Sponsors
= sponsor("Market Leader", "www.marketleader.com", "marketleader.png")

/ %h4 Table Sponsors

%h4 Auction Item Sponsors
= sponsor("The Big Fish Grill", "http://www.thebigfishgrill.com", "big_fish.png")
= sponsor("Hotel Sierra", "http://www.hotel-sierra.com/locations/redmond/default.aspx", "hotel_sierra.png")
= sponsor("Lexus of Bellevue", "www.lexusofbellevue.com", "lexus_bellevue.png")
= sponsor("Rena Ware International", "www.renaware.com", "renaware.jpg")
= sponsor("TaylorMade", "http://www.taylormadegolf.com", "taylormade.png")
= sponsor("Tillamook Cheese", "http://www.tillamookcheese.com/", "tillamook.png")
= sponsor("Redmond Marriott Town Center", "http://www.marriott.com/hotels/travel/seamc-redmond-marriott-town-center/", "marriott.png")
= sponsor("Herman Miller", "http://www.hermanmiller.com", "hermanmiller.png")

/ = end_sponsors
