!!! 5
%html
  %head
    %title Overlake 5K: Race Against HIV/AIDS
    <link rel="stylesheet" type="text/css" href="http://960ls.atomidata.com/static/cssserve/47721.css"/>
    <script type="text/javascript" src="http://use.typekit.com/dkg1ktv.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    = stylesheets
    <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-18109245-1']);
    _gaq.push(['_trackPageview']);
    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    </script>
    <script type="text/javascript">
    function recordOutboundLink(link, category, action) {
    try {
    _gaq.push(['_trackEvent', category, action]);
    _gaq.push(function () {
    setTimeout('document.location = "' + link.href + '"', 100);
    });
    }catch(err){}
    }
    </script>
  %body>
    .frame(style="background-color: white")
      .null-line-height>
        %div{ :style => 'position: relative; width: 836px; height: 230px; background: url(images/heading.jpg) repeat-x' }
          %a(href="http://www.realitysports.org/" target="_blank" style="display: block; position: absolute; right: 84px; width: 90px; top: 60px; height: 103px;")
            %br
      .nav
        = link_to 'Home', 'index.html'
        = link_to 'Race Details', 'details.html'
        = link_to 'The Causes', 'causes.html'
        -# = link_to 'Become a Sponsor', 'sponsor.html'
        = link_to 'Our Sponsors', 'sponsors.html'
        = link_to 'About Overlake', 'aboutocc.html'
        = link_to 'Contact Us', 'contact.html'
      .container_12(style="padding-bottom: 10px")
        = yield
        .clear
    .framebottom